:root {
    font-family: "Open Sans", sans-serif;
}

input,
select,
button {
    font-family: "Open Sans", sans-serif;
}

body {
    margin-inline: auto;
    max-width: 180ch;
    background: #e0e0e0;
    padding: 0.25em 1em;
    color: #222222;
}

h2 {
    margin-block: 0.4em;
}

a {
    color: #0d61a4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid silver;
    padding: 0.5em;
}

table th {
    background: #e0e0e0;
}

table td {
    background: #fff;
}

table tr.odd td {
    background: #f0f0f0;
}

legend {
    font-weight: bold;
}

details {
    margin: 1em 0;
}

details>summary {
    padding: 0.5em;
    border-radius: 0.2em;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

details>summary:hover {
    background: rgba(0, 0, 0, 0.15);
}

details>form {
    padding: 0.5em;
}

fieldset {
    background: #e4e4e4;
    border-color: #e8e8e8;
    border-radius: 4px;
}

#input-tabs {
    list-style: none;
    display: flex;
}

#input-tabs label {
    display: block;
    padding: 4px 10px;
    background: #d8d8d8;
    border-block-start: 1px solid #a8a8a8;
    border-inline: 1px solid #a8a8a8;
}


#input-tabs:has(~ #input-type-wiki-and-title:checked) label[for="input-type-wiki-and-title"],
#input-tabs:has(~ #input-type-wikitext:checked) label[for="input-type-wikitext"] {
    background: #c8c8c8;
    font-weight: bold;
}

input[name="input_type"] {
    display: none;
}

.box {
    display: none;
    background: #c8c8c8;
    border: 1px solid #a8a8a8;
    padding: 8px;
}

input[name="input_type"]:checked + .box {
    display: block;
}

.form-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 8px;
}

.input-label {
    font-weight: bold;
}

#box-wiki-and-title .input-label {
    text-align: end;
}

#box-wikitext .input-label {
    display: block;
}

.options {
    display: grid;
    padding-block-start: 0.5em;
    grid-template-columns: 1fr;
    gap: 1em 1em;
}

@media (min-width: 1200px) {
    .options {
        grid-template-columns: 1fr 1fr;
    }
}

button[type="submit"] {
    font-size: 1.1em;
    font-weight: bold;
    margin-block-end: 0.5em;
}

#result-container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
