<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <!--<script type="text/javascript" src="/static/js/script.js"></script>-->
  <title>Bracket join</title>
</head>

<body>
  {%- include 'templates/header.html' %}

  <h2>Bracket join</h2>

  <p>Paste the wikitext of the bracket templates and join them into a single bracket template.</p>

  <form action="/bracket_join" method="post">
    <div>
      <label>Original:</label>
    </div>
    <div>
      <textarea rows="25" cols="130" name="original">{{original}}</textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  <div>
    <label>Joined:</label>
  </div>
  <div>
    <textarea rows="50" cols="130">{{converted}}</textarea>
  </div>
</body>

</html>