<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <!--<script type="text/javascript" src="/static/js/script.js"></script>-->
  <title>Convert Liquipedia tournaments</title>
</head>

<body>
  <!-- {%- include 'templates/header.html' %} -->
  
  <h2>Convert</h2>
  <ul>
    <li><a href="/convert">Convert tournament pages</a><br>Does not support all legacy brackets</li>
    <li><a href="/bracket_join">Bracket join</a><br>Only works to join specific brackets</li>
    <li><a href="/team_card_conversion">Team card conversion</a></li>
    <li><a href="/navbox_conversion">Navbox conversion</a></li>
  </ul>
</body>

</html>